{{define "yield"}}

<div class="row">
    <div class="col-sm-8">
        <h2>About The Quiltspace</h2>
        <h4>What Is It?</h4>
        <p>
            The Quiltspace is a place for interaction with your quilting and creative projects.
            As of now, it is merely a place to track which projects you are working on, and the details 
            of those projects. 
        </p>
    </div>
</div>

{{end}}