{{define "yield"}}

<h1>Login</h1>
<form method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit">
</form>
<h2><a href="/user/create">Don't have an account yet? Click here.</a></h2>

{{end}}