{{define "yield"}}

<form method="post">
    <input type="email" name="email" placeholder="email"><br>
    <input type="text" name="username" placeholder="username"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="text" name="firstname" placeholder="first name"><br>
    <input type="text" name="lastname" placeholder="last name"><br>
    <input type="submit">
</form>

{{end}}