<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Update Quilt</title>
        <style>
            html, body {
                padding: 0;
                border: 0;
                margin: 0;
            }

            body, form {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
            }
            input {
                width: 60vw;
                font-size: 5rem;
                color: blue;
                border: 1px solid black;
            }
        </style>
    </head>
    <body>

        <h1>Update a Quilt</h1>
        <form method="post" action="/quilts/update/process">
            <input type="text" name="qid" placeholder="quilt id" value="{{.Qid}}" readonly>
            <input type="text" name="name" placeholder="name" required autofocus value="{{.Name}}">
            <input type="text" name="style" placeholder="style" required value="{{.Style}}">
            <input type="text" name="pattern" placeholder="pattern" required value="{{.Pattern}}">
            <input type="submit">
        </form>
    </body>
</html>